# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
venv/
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS specific
.idea/
.vscode/
*.DS_Store
outputs/
data/
wind-tiles/
